@media only screen and (max-width: 538px) {

    .column-view .div-col figure .column-pic1 {
        /* background: teal !important; */
        width: 100%;
    }


    .column-view .div-col figure img {
        width: 50% !important;
    }

    #picture-column {
        min-width: 100% !important;
        flex: 1 !important;
    }

    .column-view .div-col figure {
        flex-direction: column !important;

    }
}

@media only screen and (max-width: 930px) {
    html {
        font-size: 0.8em;
    }

    #navTransformation {
        display: none;
    }

    #navTransformationMobile {
        display: block;
        box-shadow: 0px 2px 4px 0px #00000026 !important;
        padding: 1.5em 2.5em !important;
    }


    main {
        width: 100% !important;
        margin: 0 auto;
    }

    #title-politique {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    #title-politique p {
        width: 100%;
    }


    .column-view .div-col figure {
        flex-wrap: wrap;

    }

    #picture-column {
        width: 50vw !important;
    }

    /* FIGUREs */

    .row-view .div-col figure {
        border-radius: 1em;
        outline: 1px solid #e4e4e4;
        display: flex;
        flex-direction: column !important;
        gap: 1em;
        width: 100% !important;
        min-width: 100% !important;
        background: #fff !important;
        padding: 1em;
        position: relative;
    }

    #picture-column {
        flex: 1;
    }

    .column-view .div-col .row-categ {
        /* background: silver !important; */
        width: 100% !important;
        display: flex;
        flex-direction: row !important;
        align-items: left !important;
        margin-top: 1em !important;
    }
}